.container {
    max-width: 992px;
    margin: 0 auto;
}

.nav {
    position: relative;
    width: 100%;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.haburder {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    visibility: hidden;
    display: block;
    z-index: -1;
    right: 48%;
    top: 0;
}

.header__link {
    display: block;
    text-decoration: none;
    margin: 2px;
    width: 100px;
    height: 50px;
    background: gray;
}


.show {
    transform: translateY(350px);
    transition: transform 2s linear;
}

.hidden {
    transform: translateY(-350px);
    transition: transform 2s linear;
}

@media (max-width: 991px) {
    .head {
        flex-direction: column;
        position: absolute;
        top: -270px;
    }
    .haburder {
        visibility: visible;
        z-index: 2;
    }
}